{% extends "layout.html" %}


{% block header %}{% endblock %}

{% block content %} 
<h1> List of Verbs </h1>
{% endblock %}

<!-- {% block scripts %}
class MyHTMLParser(HTMLParser):
    def handle_starttag(self, tag, attrs):
        print("Encountered a start tag:", tag)

    def handle_endtag(self, tag):
        print("Encountered an end tag :", tag)

    def handle_data(self, data):
        print("Encountered some data  :", data)

parser = MyHTMLParser()
parser.feed('<html><head><title>Test</title></head>'
            '<body><h1>Parse me!</h1></body></html>')
            
{% endblock %} -->
